{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Subjects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Subjects</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% if subjects %}
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Teachers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in subjects %}
                                    <tr>
                                        <td>{{ subject.name }}</td>
                                        <td>{{ subject.code }}</td>
                                        <td>
                                            {% for teacher in subject.teachers.all %}
                                            <span class="badge badge-info">{{ teacher.get_full_name }}</span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="alert alert-info">
                            {% if user.is_student %}
                            No subjects found for your class ({{ student_class }} {{ student_section }}). 
                            Please contact your teacher or administrator.
                            {% else %}
                            No subjects found.
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}